<form [formGroup]="ChangePassword">
  <div class="p-field p-grid">
    <div class="p-field p-col">
        <label for="oldPwd" class="p-col-fixed" style="width:120px">Old Password<span
                class="mand_star">*</span></label>

                <input 
                formControlName="oldPwd"
                id="oldPwd"
                type="password" 
                class="form-control" />
              <div class="alert alert-danger" *ngIf="oldPwd?.touched && oldPwd?.invalid">
                <div *ngIf="oldPwd?.errors.required">Old Password is required.</div>
                <div *ngIf="oldPwd?.errors.shouldBe1234">Old Password is not valid.</div>
              </div>
    </div>
  </div>
  <div class="p-field p-grid">
    <div class="p-field p-col">
        <label for="newPwd" class="p-col-fixed" style="width:120px">New Password<span
                class="mand_star">*</span></label>
     <input 
      formControlName="newPwd" 
      id="newPwd"
      type="password"  
      class="form-control" />
    <div class="alert alert-danger" *ngIf="newPwd?.touched && newPwd?.invalid">
      <div *ngIf="newPwd?.errors.required">New Password is required.</div>
    </div>
  </div>
  </div>

  <div class="p-field p-grid">
    <div class="p-field p-col">
        <label for="newPwd" class="p-col-fixed" style="width:120px">Confirm Password<span
                class="mand_star">*</span></label>
     <input 
      formControlName="confirmPwd" 
      id="confirmPwd"
      type="password"  
      class="form-control" />
      <div class="alert alert-danger" *ngIf="confirmPwd?.touched && confirmPwd?.invalid">
        <div *ngIf="confirmPwd.errors.required">Confirm Password is required.</div>
      </div>
      <!-- <div class="alert alert-danger" *ngIf="confirmPwd?.valid && ChangePassword?.invalid && ChangePassword?.errors.pwdsDontMatch">
        Passwords do not match.
      </div> -->
    </div>
  </div>

  <button class="btn btn-primary" (click)="SavePwd()">Change Password</button>

</form>
