<p-toast [style]="{marginTop: '80px'}"></p-toast>

<div class="layout-content">
    <p-panel header="Leave Details  [ {{title}} ]">

        <div class="grid p-fluid">
            <div class="col-12 md:col-3">
                <div class="flex flex-column gap-2"> <!-- <div class="flex flex-column gap-2">
                        <label>Staff Name</label>
                        <input id="tbSearchStaffName" [(ngModel)]='empName' type="text" pInputText
                            [style]="{'width': '100%'}" />
                     </div> -->
                    <label for="username"> Staff Name</label>
                    <p-dropdown [options]="staffList" placeholder="Select Staff" [(ngModel)]="empName"
                        [style]="{'width': '100%'}" [showClear]="true" [filter]="true"></p-dropdown>
                </div>
            </div>
            <div class="col-12 md:col-3">
                <div class="flex flex-column gap-2">
                    <label for="username"> Select Date From</label>
                    <p-calendar [showIcon]="true" [(ngModel)]='fromdate' dateFormat="dd-M-yy" readonly required
                        [style]="{'width': '100%'}" />
                </div>
            </div>
            <div class="col-12 md:col-3">
                <div class="flex flex-column gap-2">
                    <label for="username"> End Date</label>
                    <p-calendar [showIcon]="true" [(ngModel)]='enddate' dateFormat="dd-M-yy" readonly required
                        [style]="{'width': '100%'}" />
                </div>
            </div>


            <div class="col-12 md:col-3">
                <div class="flex flex-column gap-2">
                    <label for="username">Company Name</label>
                    <p-dropdown [options]="companies" placeholder="Select Company" [(ngModel)]="filtercompany"
                        [showClear]="true" [style]="{'width': '100%'}"></p-dropdown>
                </div>
            </div>
        </div>
        <div class="grid p-fluid">
            <div class="col-12 md:col-2">
                <div class="flex flex-column gap-2">
                    <label>&nbsp;</label>
                    <button pButton type="submit" (click)="filterData()" label="Filter"
                        class="p-button-success"></button>

                </div>
            </div>
            <div class="col-12 md:col-2">
                <div class="flex flex-column gap-2">
                    <label>&nbsp;</label>
                    <p-splitButton label="Refresh" icon="pi pi-refresh" (onClick)="ReloadData()" [model]="items"
                        class="p-button-secondary"></p-splitButton>
                </div>
                <div class="sm:col-1 md:col-1 lg:col-1">

                </div>

            </div>
                    <div class="col-12 md:col-2">
                <div class="flex flex-column gap-2">
                    <label>&nbsp;</label>
                     <p-button 
                    (click)="toggleSort()" 
                    class="toggle" 
                    label="{{ sortOrder === 'asc' ? 'Sort ↓ Descending' : 'Sort ↑ Ascending' }}">
                    </p-button>
                </div>
                <div class="sm:col-1 md:col-1 lg:col-1">

                </div>

            </div>

            <!-- IInd row-->
        </div>
    </p-panel>
         <p-panel header="Details">
            <p-table [value]="sortedData" [scrollable]="true" [rows]="100" scrollHeight="450px"
                columnResizeMode="expand">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:4rem">Code</th>
                        <th Style="width:8rem">Staff Name</th>
                        <th style="width:8rem">Company Name</th>
                        <th style="width:8rem">Leave Type</th>
                        <th style="width:8rem">fromdate</th>
                        <th style="width:8rem">End Date</th>
                        <th style="width:6rem">Total Days</th>
                        <th style="width:8rem">Reason</th>
                        <th style="width:8rem">Request Date</th>
                        <th style="width:8rem">Status</th>
                        <!-- <th style="width:8rem">Action</th> -->

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-leavedata>
                    <tr>
                        <td style="width:4rem">{{leavedata.leavDataId}}</td>
                        <td style="width:8rem">{{leavedata.leaveEmpName}}</td>
                        <td style="width:8rem">{{leavedata.companyName}}</td>
                        <td style="width:8rem">{{leavedata.leaveDataTypeNavigation.leaveType}}</td>
                        <td style="width:8rem">{{leavedata.leaveDataFrom}}</td>
                        <td style="width:8rem">{{leavedata.leaveDataTo}}</td>
                        <td style="width:6rem">{{leavedata.leaveDays}}</td>
                        <td style="width:8rem">{{leavedata.leaveDataReason}}</td>
                        <td style="width:8rem">{{leavedata.reqDate | date:"dd/MMM/yyyy"}}</td>
                        <td style="width:8rem">

                            <ng-container *ngIf="leavedata.status === 2">
                                <span
                                    style='padding: 5px;font-weight: bolder;  color: rgb(202, 10, 106);'>Approved</span>
                            </ng-container>

                            <ng-container *ngIf="leavedata.status === 3">
                                <span
                                    style='padding: 5px;font-weight: bolder; font-size: larger; color: rgb(13, 164, 202);'>Rejected</span>

                            </ng-container>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-panel>
 </div>