.redColoredPanel .ui-panel-titlebar {
   color: red !important;
   
}
.redColoredPanel .ui-panel-title
{
    color: red !important;
 }
 .redColoredPanel{
     background: #222;
 }


 .ui-panel .ui-panel-titlebar{
     background-color: red !important;
 }


.leftAlignedPanel {
   float: left;
}
 
