<!-- <div class="layout-content">
    
    <p-panel header="LEAVE BALANCES" [style]="{minHeight: '360px'}">

      <div class="p-col-12">

        <p-table [value]="leaveBaldatas" [scrollable]="true" [rows]="100" scrollHeight="250px" columnResizeMode="expand">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:8rem">Leave Type</th>
                    <th style="width:4rem">Leave Balance</th>
                   <th style="width:8rem">Reply</th>
                    <th style="width:8rem">Remarks</th>  
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-leaveBaldatas>
                <tr>
                    <td style="width:8rem">{{leaveBaldatas.leaveBalType}}</td>
                    <td style="width:4rem">{{leaveBaldatas.leaveBalNo}}</td>
                </tr>
            </ng-template>
        </p-table>
        </div>
    </p-panel>
</div>
 -->

 <div class="layout-content">
<p-toolbar>
    <div class="col-12 md:col-3">
                <div class="flex flex-column gap-2">
                    <label for="tbSearchStaffName">
                        Department
                    </label>
                    <p-dropdown [options]="delpartmentArray" placeholder="Select department" [(ngModel)]="delpartmentID"
                        [style]="{'width': '100%'}" [showClear]="true" [filter]="true"></p-dropdown>
                </div>
            </div>


   <div class="col-12 md:col-2">
                <div class="flex flex-column gap-2">
                    <label class="mb-2" for="currency-japan">
                    </label>
                    <button pButton type="submit" (click)="filterData()" label="Filter"
                        class="p-button-success vertical-align-bottom"></button>

                </div>
            </div>



              <div class="col-12 md:col-2">
                <div class="flex flex-column gap-2">
                    <label class="mb-2" for="currency-japan">
                    </label>
                    <button pButton type="submit" (click)="clear()" label="Clear"
                        class="p-button-danger vertical-align-bottom"></button>

                </div>
            </div>

  <div class="p-toolbar-group-end">
    <p-button label="Excel" icon="pi pi-file-excel" (click)="exportToExcel()"
      [style]="{ 'background-color': '#28a745', 'border-color': '#28a745' }"/>
  </div>
</p-toolbar>
    <p-panel header="LEAVE BALANCES" [style]="{ minHeight: '360px' }">
      <div class="grid">
        <div class="col-12">
          <p-table [value]="leaveBalances" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            styleClass="p-datatable-striped">
            <ng-template pTemplate="header">
              <tr>
                <th>Staff Code</th>
                <th>Name</th>
                <th>Leave Type</th>
                <th>Department</th>
                <th>Company</th>
                <th>Date of Join</th>
                <th>Balance</th>
              </tr>
            </ng-template>
  
            <ng-template pTemplate="body" let-item>
              <tr style="cursor:pointer">
                <td>{{ item?.staffCode }}</td>
                <!-- <td>{{ item?.staffId }}</td> -->
                <td>{{ item?.fullName }}</td>
                <td>{{ item?.leaveType }}</td>
                <td>{{ item?.departmentName }}</td>
                <td>{{ item?.companyName }}</td>
                <td>{{ item?.joiningDate | date }}</td>
                <td>{{ item?.totalLeaveBalance }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </p-panel> 
  </div>
<p-toast></p-toast>