body .ui-dialog .ui-dialog-content{
    height: 300px;
}
.control-spacing {
    margin-bottom: 20px;
  }
.flex{
    display: flex;
}
.margin{
    margin-right: 20px;
}
.dropdown{
    min-width: 230px;
    max-width: 230px;
}